node_modules/
dist/
dist-ssr/
build/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*


__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.cache/

*.db
*.sqlite3

backend/uploads/
uploads/
test.csv


.env
.env.*
*.pem
*.key
firestore-service-account.json
creds/


.DS_Store
.DS_Store?
.vscode/
.idea/
.fleet/
*.cjs
*.log
*.tmp
temp/
